# java related
*.class
*.war
*.ear

# other files
*.bak
*~
.gitignore
.idea
.idea/*
*.iml
.iml
.DS_Store
*.html
*.css
*.js

# copied from original
assets
assets/*
bin
bin/*
out
out/*
gen
gen/*
logs
logs/*
tmp
tmp/*
.history
